-- Agregar columnas status y updated_at a la tabla maintenance_incidents
ALTER TABLE public.maintenance_incidents 
ADD COLUMN IF NOT EXISTS status VARCHAR(20) NOT NULL DEFAULT 'pending' CHECK (status IN ('pending', 'in_progress', 'completed', 'cancelled')),
ADD COLUMN IF NOT EXISTS updated_at TIMESTAMPTZ NOT NULL DEFAULT now();

-- Crear índice para la columna status
CREATE INDEX IF NOT EXISTS idx_maintenance_incidents_status ON public.maintenance_incidents(status);

-- Comentarios
COMMENT ON COLUMN public.maintenance_incidents.status IS 'Estado del mantenimiento para esta incidencia específica';
COMMENT ON COLUMN public.maintenance_incidents.updated_at IS 'Fecha de última actualización del registro';
